{% extends 'front/base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}

	{% for cart in cartProducts %}
		<h3>{{ cart.product.name }}</h3>
		<h3>{{ cart.quantity }}</h3>
<a href="{{ path('delete_cart', {'id': cart.product.id}) }}" class="btn btn-outline-danger">Supprimer</a>
	{% endfor %}
{% endblock %}
